<div class="mb-4 bg-white p-10 md:w-2/3 lg:w-1/2 mx-auto border rounded-lg shadow-md">


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, class: "md:w-1/2 mx-auto") do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div id="avatar-placeholder-div" class="flex items-center justify-center hidden">
        <%= image_tag("placeholderpng", id: "avatar-preview", class: "rounded-full w-32") %>
    </div>
    <div class="mb-2">
      <h5 class="text-sm">Upload an image</h5>
      <%= f.file_field :avatar, direct_upload: true,  placeholder: 'Upload avatar', onChange: 'loadAvatar(event)' %>
    </div>

    <div class="mb-5 shadow-xl w-full border rounded-lg">
      <div class="flex items-center rounded-t-lg ">
        <%= f.label :username, class: "p-3 w-20 text-right mr-8 text-gray-500 font-bold" %>
        <%= f.text_field :username, autocomplete: "username", placeholder: "@username", class: "w-1/2 md:w-full border-0 focus:ring-0 border-b border-gray-400 focus:border-green-400 flex-1 py-2 placeholder-gray-300 outline-none" %>
      </div>
    
      <div class="mb-4 flex items-center">
        <%= f.label :email, class: "p-3 w-20 text-left mr-8 text-gray-500 font-bold" %>
        <%= f.email_field :email, autocomplete: "email", class: "w-1/2 md:w-full border-0 focus:ring-0 border-b border-gray-400 focus:border-green-400 flex-1 py-2 placeholder-gray-300 outline-none autofill:bg-transparent" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <i class="pl-2 text-blue-300 text-center text-pretty">(Leave password blank if you don't want to change it)</i><br />

      <div class="flex items-center">
				<%= f.label :password, class: "p-3 w-20 text-right mr-8 text-gray-500 font-bold" %>
				<%= f.password_field :password, autocomplete: "new-password", placeholder: "", class: "w-1/2 md:w-full border-0 focus:ring-0 border-b border-gray-400 focus:border-green-400 flex-1 py-2 placeholder-gray-300 outline-none autofill:bg-transparent" %>
			</div>

      <div class="flex items-center">
				<%= f.label :password_confirmation, class: "p-3 w-20 text-left mr-8 text-gray-500 font-bold" %>
				<%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-1/2 md:w-full border-0 focus:ring-0 border-b border-gray-400 focus:border-green-400 flex-1 py-2 placeholder-gray-300 outline-none autofill:bg-transparent" %>
			</div>

        <i class="pl-2 text-blue-300 text-pretty">(we need your current password to confirm your changes)</i><br />

      <div class="flex items-center">
				<%= f.label :current_password, class: "p-3 w-20 text-left mr-8 text-gray-500 font-bold" %>
				<%= f.password_field :current_password, autocomplete: "current_password", class: "w-1/2 md:w-full border-0 focus:ring-0 border-b border-gray-400 focus:border-green-400 flex-1 py-2 placeholder-gray-300 outline-none autofill:bg-transparent" %>
			</div>
    </div>  

    <div class="text-right">
    <%= f.submit "Update", class: "py-3 px-8 bg-green-500 hover:bg-green-400 transform hover:scale-105 text-white rounded shadow-lg transition duration-300 " %>
  </div>
  <% end %>
</div>

<div class="flex space-x-8 pl-2 items-center justify-center ">
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure you want to close your account?", turbo_confirm: "Are you sure you want to close your account?" }, method: :delete, class: 'hover:text-red-600 transition duration-300' %>
  <%= link_to "Back", :back, class: "border py-2 px-6 rounded" %>
</div>
