<div class="p-5 md:p-20 mx-auto mb-10 border rounded-lg shadow-lg flex md:w-3/4 lg:w-1/2 justify-center">
	<%= form_with model: post do |f| %>

			<% if post.errors.any? %>
				<div class="mb-10 text-red-600 border border-red-500 rounded">
					<h2 class="mb-4 bg-red-600 text-red-100 w-full py-2 px-4 animate-pulse"><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

					<ul class="list-disc pl-5 ml-2 mb-5">
						<% post.errors.each do |error| %>
							<li><%= error.full_message %></li>
						<% end %>
					</ul>
				</div>
			<% end %>

			<div class="flex justify-center mb-2 rounded">
				<%= post_image_select(@post) %>
			</div>
			<div>
				<div class="flex items-center justify-center">
						<%= f.file_field :image, onChange: "loadImage(event)", class: "border border-gray-300 rounded-lg p-2 text-center" %>
				</div>

				<div class="m-10">
						<%= f.text_area :caption, class: "border-0 focus:ring-0 border-b-2 border-blue-400 focus:border-green-300 text-gray-700", placeholder: "Enter Caption Here" %>
				</div>

				<div class="flex justify-center">
						<%= f.submit class: "bg-green-600 hover:bg-green-500 py-2 px-6 font-bold rounded-lg shadow-lg text-green-100 transform hover:scale-105 transition duration-300" %>
				</div>
			</div>
	<% end %>
</div>    