<div class="flex items-center justify-between">
	<h2 class="p-4 text-blue-400 font-bold"><span class="inline"><%= link_to avatar_image_select(post), profile_path(post.user.username) %></span> <span class="inline"><%= post.user.username.titleize %></span></h2>
	<h2 class="p-4 text-gray-400 text-xs font-bold"><%= time_ago_in_words_for(post.created_at) %> ago</h2>
</div>
<%= link_to image_tag(post.image, width: "640", oncontextmenu: "return false"), post_path(post) %>
<p class="p-4 text-gray-700"><span class="mr-4 text-blue-400 font-bold">
	<%= link_to post.user.username.titleize, profile_path(post.user.username) %></span> 
	<span class="leading-relaxed"><%= post.caption %></span>
</p>

