<!DOCTYPE html>
<html>
  <head>
    <title>Winkchat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "pagy" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="font-serif">

    <header class="fixed top-0 w-full">
      <%= render "layouts/navigation" %>      
      <%= render "layouts/flashes" %>   
    </header>

    <main class="container mx-auto mt-28 px-5 text-gray-700">
      <%= yield %>
    </main>
    
  </body>
</html>
